---
http_interactions:
- request:
    method: post
    uri: https://test.assently.com/api/v2/getcase
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "missing-case"
        }
    headers:
      Authorization:
      - Basic <EGREE_API_AUTH_HEADER>
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":{"errorCode":"EX404","message":"Not Found","hint":"Request
        parameters may not be well formed"}}'
  recorded_at: Thu, 26 Jan 2017 20:23:50 GMT
recorded_with: VCR 3.0.3
