---
http_interactions:
- request:
    method: get
    uri: https://test.assently.com/api/v2/getcase?id=missing-case
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <ASSENTLY_API_AUTH_HEADER>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":{"errorCode":"EX404","message":"Not Found","hint":"Request
        parameters may not be well formed"}}'
  recorded_at: Mon, 30 Jan 2017 19:33:48 GMT
recorded_with: VCR 3.0.3
